/*---------------------------------Variables -----------------------*/

:root {
  --color-primary: #b58a32;
  --color-sacondary: #ffca00;
  --color-tertiary: #6c757d;
}
.align-items-center .btn-hover{

}
.btn-hover:hover{
  color: black;
}
.margin-class{
  margin: 8rem;
}

@media only screen and (min-width: 1499px) {
  .container {
    max-width: 1348px !important;
}
}


.season-details-left {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    padding-block: 15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.content{
  color: black !important;
}

/*-------------------------------------------Navbar Custom Styling-----------------*/

.navbar-right .iq-sub-dropdown {
  visibility: unset !important;
   opacity: 1 !important;
}

.logo {
  background: url("http://multitude.io/frontend/images/logo.png") no-repeat;
}

header .navbar ul li.menu-item a {
  font-size: 12px;
}

header .navbar ul.navbar-nav {
  text-align: left;
}

/*---------------------------------------Notification------------------*/
.notifications-container{
 width: 25vw;
  background-color: rgb(15, 12, 12);
 
 margin-left: 70rem;
 animation: growDown 1s ease-in-out forwards;
 transform-origin: top center;

}

.notif-list-container{
display: flex;
justify-content: center;
align-items: center;
padding: 0.5rem;


}

.day-div{
  display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
  align-items: center;
  padding: 0.5rem;

}

.line-break{

  width: 20vw;
 background-color: #f1f1f1;
  height: 0.1px;
 margin: 3px;
 margin-left: 2rem;
}

.notif-list-item{
  display: flex;
}

.media-text{
 
  width: 16vw;
  font-size: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-weight: bold;
 
}

.notification-image{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.date-time{
  font-size: 10px;
  display: flex;
  justify-content: space-evenly;
  color: rgb(73, 69, 69);
}

.time-div{
  display: flex;
  justify-self: flex-end;
  margin-left: 7px;
  font-size: 10px;
}


@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}


/*------------------------------------------------Profile-dropdown----------------------------*/
.profile-dropdown-condainer{
  background-color: rgb(49, 48, 48);
  opacity: 0.5;
  color: white;
  width: 16vw;
  padding: 1rem;
  display: flex;
align-items: center;
flex-direction: column;
position: absolute;
justify-content: flex-end;
margin-left: 73rem;
animation: growDown 1s ease-in-out forwards;
 transform-origin: top center;
}

.profile-list-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.line-break-user{
  width: 14vw;
  background-color: white;
  height: 0.01rem;
}

.p-tag{
  display: flex;
  justify-self: flex-end;
}


/*----------------------------------------------------------Search bar----------------------*/
.search-bar-container{
  width: 23vw;
  background-color: rgb(53, 51, 51);
  display: flex;
  flex-direction: row;
  color: #413f3c;
  margin-left: 70rem;
  animation: growDown 1s ease-in-out forwards;
 transform-origin: top center;

}

.search-icon{
background-color: rgb(22, 19, 19);
color: rgb(53, 51, 51);
outline: none;
}
.search-placeholder{
  background-color: rgb(22, 19, 19);
  color: rgb(53, 51, 51);
  border: 0px solid;
  font-size: 11px;
}

.top-bar .searchbar .s-input {
  border-color: var(--black-200);
  background-color: var(--white);
  box-shadow: none;
  color: var(--black-700);
  outline: none;
}

.s-input.s-input__search, .s-input.s-input__creditcard {
  padding-left: 32px;
}

.s-input-icon.s-input-icon__search, .s-input-icon.s-input-icon__creditcard {
  right: auto;
  left: 0.7em;
  color: var(--black-200);
}

/*--------------------------------------------------------Cards---------------------*/
/* .seasons-card-container{
  height: 70vh;
} */

/* .iq-favorites{
height: 70%;
} */
/* .main-content {
  padding: 100px;
} */

.favorites-slider li.slide-item{
  width: 15vw;
}
/* .img-box{
  height: 45vh;
} */

.img-box-horizontal{
  height: 24vh !important;
  width: 19rem !important;
}
/* .row-height{
  height: 70%;
} */

.popular-seasons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 25vw !important;


}

.popular-seasons-text {
  text-decoration: underline;
}

.img-box {
  height: 41vh !important;
  background-size: cover !important;
}

.img-fluid {
  height: 100%;
}
.main-title {
  font-size: 40px;
 margin-top: 1rem;
}

.main-cont{
  border: red dotted;
}
/* .favorites-slider {
  gap: 20px;
} */

.favorites-slider li.slide-item {
  margin-block: 18px;
}

/*-------------------------------------------Main Section-----------------*/


#myVideo {
 
 position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  

  z-index: -100;
  transform: translate(-50%, -50%);

}

.content {
  position: absolute;
  bottom: 0;

  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* .align-items-center{
 position: absolute;
} */


/* #myVideo {
   object-fit: cover; 
   

   height: 100vh; 

  /* top: 0;
  left: 0; */




.text-primary {
  color: var(--color-sacondary) !important;
}

.play-now-button {
  background-color: var(--color-sacondary) !important;
}

.btn-link {
  background: transparent;
}

.btn .iq-button,
.btn-hover {
  background-color: var(--color-sacondary) !important;
  border: 2px solid var(--color-sacondary) !important;
}
.main-section-container {
  padding-inline: 80px;
}
.main-section-class {
  margin-top: 8rem;
}
.col-left-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.season-details-container {
  display: flex;
  border-radius: 10px;
  background-color: #b58a32;
  min-height: 150px;
  margin-block: 5px;
  background-image: linear-gradient(to right, #b58a32, #413f3c);
  opacity: 0.8;
}

.season-details-left {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  padding-block: 15px;
}

.season-image-container {
  width: 60%;
}

.season-image {
  border-radius: 0px 10px 10px 0px;
  height: 150px;
  width: 100%;
  object-fit: cover;
}

/*------------------------------------------Section Hero------------------*/
.hero-section-container {
  height: 95vh;
  background-color: violet;
}

.section-image {
  background: url("https://multitude.s3.wasabisys.com/death-note/Banner/aKstAXssiivYvKj7bJOCKRt4oMK3ZhMnihfQrG5m.jpg");
  background-size: cover;
}

.slick-bg:before {
  height: 100%;
}

.watch-trailer-svg{
  width: 50px;
  height: 50px;
}

/*------------------------------------------------Footer--------------------*/

.main-section-text{
  color: white;
}
.upper-footer-container{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  color: white; 
 
}
.footer-buttons{
  display: flex;
  justify-content: space-between;
}

.btns-footer{
  margin: 0.5rem;
}

.footer-logo{
      width: 100px;
}

.footer-lists{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-items-left{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  
}

.list-items-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.first-list{
  display: flex;
}

.list-items-right{
  list-style: none;
}

.footer-link-title{
  font-size: large;
  margin-bottom: 0.1rem !important;
}

.textwidget{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;


}

.lower-footer-list-items{
  list-style: none;
  display: flex;
}

.lower-footer-list-item{
  margin-right: 15px;
}

.footer-link-title{
  margin-bottom: 10px !important;
}
.footer-buttons{
  display:flex;
  justify-content: space-between;
}


.btns-footer{
  background-color: black;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
 color: white;
 
  border: 2px solid var(--color-sacondary);
}

.video-icon{
  color: var(--color-sacondary);
}

/* .d-flex{.main-title 
 margin-right: 20px;
} */

/*---------------------------Modal-------------------------------*/
/* .modal-div{
  background-color: black;
} */

.season-details-header{
  color: black;
} 

.modal-video-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background-color: rgba(233, 230, 71, 0.8);
  position: absolute;
  top: 31.2rem;
  left: 5.5rem;
  border-radius: 50%;
  cursor: pointer;
  
}


.modal-div{
  color: white;
  border-radius: 30px;
}

.modal-content{
  background-color: rgb(46, 44, 44);
  color: white;
}

.ml-3{
  color: white;
  margin-left: 80px;
}
.season-button{
 
 /* justify-content: center;
  align-items: flex-start; */
  gap: 10px;
}

.p-tag{

  margin-bottom: 0rem !important;

  margin-top: 0.4rem !important;
}

.modal-container{
  background-color: black;
  border-radius: 30px;
}


.text-align-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}
.ml-3{
  margin-right: 3px;
  color: white;
}

.modal-text{
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
 padding: 1rem;
}

.text-left{
  width: 400px;
}
.span-props{
  text-transform: uppercase;
  color: var(--color-sacondary);
  font: sans-serif 0.5rem;
}
.episodes-heading{
  margin: 1rem;
  color: white;
}

.season-episodes{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.season-episodes-upper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  gap: 1rem;
}

.video-placement{
  height: 100%;
}

.episode-heading{
  color: white;
}

.seasons-episode-img{
  display: flex;
  width: 12vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.modal-video{
  object-fit: contain;
  display: block;
    width: 100%;
    height: 100%;
}

.span-tags{
  margin-top: 1rem;
}

/*---------------------------lower footer-------------------------------*/

.lower-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
 

}

.lower-footer-list{
 display: flex;
 flex-direction: row;

}

.info-share{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
 
 
}


/*-------------------------------------Create Channel----------------------------------------------*/
.create-channel-container{
  height: 100vh;
  color: white;
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
}
.create-channel-inner{
    background-color: rgb(43, 40, 40);
   box-shadow: rgba(182, 182, 182, 0) 0px 8px 24px;
}

.user-details-input{
  padding: 4rem;
}

.user-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 30px;

}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-sacondary);
  margin-top: 10px;
}



/*----------------------------------------------------New-------------------------------------------------*/
.new-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-heading{
   
}
.create-channel-heading{
  padding-top: 4rem;
}

.this-month{
  margin-bottom: 2rem;
 padding-top: 4rem;
}
.card-text-list{
  display: flex;
  flex-wrap: wrap;
}

.card-title{

}

/*----------------------------------------------------Carousal------------------*/
.main-title-carousal{
  margin-top: 5rem;
}

/*-----------------------------------------------Video Popup Section----------------------------------*/
.episodes-container{
  padding-top: 20px;
  display: flex;
  align-items: center;
flex-direction: column;
  height: 100vh;

}

.eisode-video{

}

.video-sections-container{
  display: flex;
  
}


.left-video-section{
  position: relative;

}

.right-video-section{

}

.eisode-video{
  
}

.episode-video-button{
position: absolute;
}




/*-----------------------------media queries-------------------*/
/* ======================== For mobile screen =================================*/
@media only screen and (max-width: 600px) {
  .season-details-container {
    flex-direction: column;
  }

  .season-image-container {
    width: 100%;
  }

  .box :nth-child(1) {
    order: 2;
  }
  .box :nth-child(2) {
    order: 1;
  }

  .not_box :nth-child(1) {
    order: 1;
  }
  .not_box :nth-child(2) {
    order: 2;
  }
}

@media only screen and (max-width: 1024px) {
  .favorites-contetns {
    padding-top: 40%;
  }

  .favorites-slider {
    display: flex;
  }

  .slide-item {
    height: 40vh;
    width: 400px;
  }
}
