/*---------------------------------Variables -----------------------*/

:root {
  --color-primary: #b58a32;
  --color-sacondary: #ffca00;
  --color-tertiary: #6c757d;
}

/*-------------------------------------------Navbar Custom Styling-----------------*/

.navbar-right .iq-sub-dropdown {
  visibility: unset !important;
   opacity: 1 !important;
}

.logo {
  background: url("http://multitude.io/frontend/images/logo.png") no-repeat;
}

header .navbar ul li.menu-item a {
  font-size: 12px;
}

header .navbar ul.navbar-nav {
  text-align: left;
}

/*---------------------------------------Notification------------------*/
.bg-danger {
  background-color: var(--color-sacondary) !important;
}

/*--------------------------------------------------------Cards---------------------*/
/* .seasons-card-container{
  height: 70vh;
} */

/* .iq-favorites{
height: 70%;
} */
.main-content {
  padding: 100px;
}

.favorites-slider li.slide-item{
  width: 15vw;
}
/* .img-box{
  height: 45vh;
} */

.img-box-horizontal{
  height: 24vh !important;
  width: 19rem !important;
}
/* .row-height{
  height: 70%;
} */

.popular-seasons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 30vw !important;

;
}

.popular-seasons-text {
  border-bottom: 1px solid white;
}

.img-box {
  height: 45vh !important;
  background-size: cover !important;
}

.img-fluid {
  height: 100%;
}
.main-title {
  font-size: 40px;
}
/* .favorites-slider {
  gap: 20px;
} */

.favorites-slider li.slide-item {
  margin-block: 18px;
}

/*-------------------------------------------Main Section-----------------*/


#myVideo {
 
 position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  z-index: -100;
  transform: translate(-50%, -50%);

}

.content {
  position: absolute;
  bottom: 0;

  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* .align-items-center{
 position: absolute;
} */


/* #myVideo {
   object-fit: cover; 
   

   height: 100vh; 

  /* top: 0;
  left: 0; */




.text-primary {
  color: var(--color-sacondary) !important;
}

.play-now-button {
  background-color: var(--color-sacondary) !important;
}

.btn-link {
  background: transparent;
}

.btn .iq-button,
.btn-hover {
  background-color: var(--color-sacondary) !important;
  border: 2px solid var(--color-sacondary) !important;
}
.main-section-container {
  padding-inline: 80px;
}
.main-section-class {
  margin-top: 8rem;
}
.col-left-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.season-details-container {
  display: flex;
  border-radius: 10px;
  background-color: #b58a32;
  min-height: 150px;
  margin-block: 5px;
  background-image: linear-gradient(to right, #b58a32, #413f3c);
  opacity: 0.8;
}

.season-details-left {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  padding-block: 15px;
}

.season-image-container {
  width: 60%;
}

.season-image {
  border-radius: 0px 10px 10px 0px;
  height: 150px;
  width: 100%;
  object-fit: cover;
}

/*------------------------------------------Section Hero------------------*/
.hero-section-container {
  height: 95vh;
  background-color: violet;
}

.section-image {
  background: url("https://multitude.s3.wasabisys.com/death-note/Banner/aKstAXssiivYvKj7bJOCKRt4oMK3ZhMnihfQrG5m.jpg");
  background-size: cover;
}

.slick-bg:before {
  height: 100%;
}

.watch-trailer-svg{
  width: 50px;
  height: 50px;
}

/*------------------------------------------------Footer--------------------*/


.upper-footer-container{
  
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  color: white;
 
}

.footer-logo{
      width: 100px;
}

.list-items-left{
  list-style: none;
}

.list-items-right{
  list-style: none;
}

.footer-link-title{
  font-size: large;
  margin-bottom: 0.1rem !important;
}

.textwidget{
  display: flex;
  
 
  align-items: center;
  margin-top: 10px;


}

.lower-footer-list-items{
  list-style: none;
  display: flex;
}

.lower-footer-list-item{
  margin-right: 15px;
}

.footer-link-title{
  margin-bottom: 10px !important;
}
.footer-buttons{
  display:flex;
  justify-content: space-between;
}


.btns-footer{
  background-color: black;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
 color: white;
 
  border: 2px solid var(--color-sacondary);
}

.video-icon{
  color: var(--color-sacondary);
}

/* .d-flex{
 margin-right: 20px;
} */

/*---------------------------Modal-------------------------------*/
/* .modal-div{
  background-color: black;
} */

 /* .button-season{
  margin-right: 10px;
}  */


.modal-div{
  color: white;
}

.modal-content{
  background-color: rgb(46, 44, 44);
  color: white;
}

.ml-3{
  color: white;
}
.season-button{
 
 /* justify-content: center;
  align-items: flex-start; */
  gap: 10px;
}

.modal-container{
  background-color: black;
}


.text-align-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}
.ml-3{
  margin-right: 3px;
  color: white;
}

.modal-text{
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
 padding: 1rem;
}

.text-left{
  width: 400px;
}
.span-props{
  text-transform: uppercase;
  color: var(--color-sacondary);
  font: sans-serif 0.5rem;
}
.episodes-heading{
  margin: 1rem;
  color: white;
}

.season-episodes{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.season-episodes-upper{
  display: flex;
  justify-content: flex-start;
  color: white;
  gap: 1rem;
}

.episode-heading{
  color: white;
}

.seasons-episode-img{
  width: 20vw;
  height: 40vh;
}
.modal-video{
  object-fit: contain;
  display: block;
    width: 100%;
    height: 100%;
}

.span-tags{
  margin-top: 1rem;
}

/*---------------------------lower footer-------------------------------*/

.lower-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
 

}

.lower-footer-list{
 display: flex;
 flex-direction: row;

}

.info-share{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
 
 
}


/*-------------------------------------Create Channel----------------------------------------------*/
.create-channel-container{
  height: 100vh;
  color: white;
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
}
.create-channel-inner{
    background-color: rgb(43, 40, 40);
   box-shadow: rgba(182, 182, 182, 0) 0px 8px 24px;
}

.user-details-input{
  padding: 4rem;
}

.user-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 30px;

}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-sacondary);
  margin-top: 10px;
}



/*----------------------------------------------------New-------------------------------------------------*/
.new-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-heading{
   
}

.this-month{
  margin-bottom: 2rem;
}
.card-text-list{
  display: flex;
  flex-wrap: wrap;
}

.card-title{

}



/*-----------------------------media queries-------------------*/
/* ======================== For mobile screen =================================*/
@media only screen and (max-width: 600px) {
  .season-details-container {
    flex-direction: column;
  }

  .season-image-container {
    width: 100%;
  }

  .box :nth-child(1) {
    order: 2;
  }
  .box :nth-child(2) {
    order: 1;
  }

  .not_box :nth-child(1) {
    order: 1;
  }
  .not_box :nth-child(2) {
    order: 2;
  }
}

@media only screen and (max-width: 1024px) {
  .favorites-contetns {
    padding-top: 40%;
  }

  .favorites-slider {
    display: flex;
  }

  .slide-item {
    height: 40vh;
    width: 400px;
  }
}
